@import "tailwindcss";
@plugin "daisyui";


section {
  max-width: 1200px;
  padding: 10px 20px;
  margin: auto;
}

.bg-gradient {
  background: linear-gradient(90deg, rgba(79, 57, 246, 1) 0%, rgba(149, 20, 250, 1) 100%);

}

.text-gradient {
  background: linear-gradient(90deg, rgba(79, 57, 246, 1) 0%, rgba(149, 20, 250, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.infinite-animation {
  height: 10px;
  width: 10px;
  background-color: blueviolet;
  border-radius: 100%;
  transform: scale(0);
  animation: animation 2s linear infinite;
  position: relative;
}




@keyframes animation {
  0% {
    transform:scale(0);
    opacity: 1;
  }

  50% {
    transform:scale(1);
    opacity: .7;
  }


  100% {
    transform:scale(2.5);
    opacity: 0;
  }
}