@import "tailwindcss";
@plugin "daisyui";


section {
  max-width: 1200px;
  padding: 10px 20px;
  margin: auto;
}

.bg-gradient {
  background: linear-gradient(90deg, rgba(79, 57, 246, 1) 0%, rgba(149, 20, 250, 1) 100%);

}

.text-gradient {
  background: linear-gradient(90deg, rgba(79, 57, 246, 1) 0%, rgba(149, 20, 250, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

